altgraph==0.17.5
certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.16
packaging==26.2
pefile==2024.8.26
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
python-dotenv==1.2.2
pywin32-ctypes==0.2.3
requests==2.34.2
setuptools==82.0.1
urllib3==2.7.0
